*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
header{
    background-color:white
}
    .menuH{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    }
    li{
    display: inline;
    }
    .lista{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -200px;
    margin-left: 3rem;
    }
    .nombre{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 7.5rem;
    font-weight: 800;
    line-height: 0%;
    font-size: 6.5rem;
    margin-top: -2.5rem;
    color:black
    }
    .sello{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-indent: 10rem;
    font-size: 3rem;
    margin-top: 218px; 
    }
    .logo{
    width: 200px;
    border-radius: 50%;
    margin: 40px;
    }li  a{
    color:black;
    text-decoration: none;
    padding: 0.7rem;
    }
    li  a:hover:hover{
    background-color: black;
    color: orange;
    border-radius: 20px;

}
.grid1{
    width:90%;
    height: 80vh;
    margin:20px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr; 
    gap: 10px;
    grid-template-areas:
    "header header header" 
    "foto main blanco"
    "footer footer footer";
    column-gap: 100px;
    row-gap: 50px;
    background-color: aliceblue;
    }
    .main{
        background-color: burlywood;
        grid-area: main;
        border-color: black;
        border-style: solid;
        justify-self: auto;
        align-self: auto;
    }
    .imagen2{
        max-width: 70%;
        margin: 30px;
        align-self: center;
        justify-self: center;
        height: auto;
    }
    .blanco{
        grid-area: blanco;
    }
    .main1{
        background-color: burlywood;
        grid-area: main;
        border-color: black;
        border-style: solid;
        justify-self: auto;
        align-self: auto;
    }
.grid2{    
    width:90%;
    height: 80vh;
    margin:20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    grid-template-rows: 1fr 1fr 0.1fr; 
    gap: 10px;
    grid-template-areas:
    "header header header" 
    "blanco main blanco"
    "Foto blancos1 blancos"
    "footer footer footer";
    column-gap: 100px;
    row-gap: 50px;
    background-color: aliceblue;
}        
    .main2{
        background-color: burlywood;
        grid-area: main;
        border-color: black;
        border-style: solid;
        justify-self: auto;
        align-self: auto;
    }
    .main3{
        background-color: burlywood;
        grid-area: blancos1;
        border-color: black;
        border-style: solid;
        justify-self: auto;
        align-self: auto;
    } 
    .imagen3{
        max-width: 20%;
        margin: 30px;
        grid-area: Foto;
    }
    .blancos{
        grid-area: blancos;
    }
.grid3{    
        width:90%;
        height: 80vh;
        margin:20px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 10px;
        grid-template-areas:
        "header header header" 
        "main main main"
        "footer footer footer";
        column-gap: 100px;
        row-gap: 50px;
        background-color: aliceblue;
}
    .main4{
        grid-area: main;
        display: flex;    
    }
    .imagen3{
        max-width: 30%;
        margin: 30px;
        align-self: center;
        justify-self: center;
        height: auto;
    }
    .imagen4{
        max-width: 30%;
        margin: 30px;
        align-self: center;
        justify-self: center;
        height: auto;
    }
    .discos{
        display: flex;
        text-align: center;
    }
    .texto2{
        text-align: center;
    }
    .texto3{
        text-align: center;
    }
    .titulo2{
        text-align: center;
    }
.grid4{    
    width:90%;
    height: 80vh;
    margin:20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px;
    grid-template-areas:
    "header header header" 
    "main main main"
    "footer footer footer";
    column-gap: 100px;
    row-gap: 50px;
    background-color: aliceblue;
}
    .main5{
        grid-area: main;
        padding: 20%;
    }
    .video{
        align-self: center;
    }
.grid5{    
    width:90%;
    height: 80vh;
    margin:20px auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px;
    grid-template-areas:
    "header header header" 
    "main main blanco"
    "footer footer footer";
    column-gap: 100px;
    row-gap: 50px;
    background-color: aliceblue;
}
    .main6{
        grid-area: main;
    }    
.footer1{
    background-color:slategrey;
    border-radius: 5px;
    display: flex;
    height: 20%;
    justify-self: cneter;
    grid-area: footer;
    align-self: end;
}    
    p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .soundcloud{
     width: 60px;
    }
    .instagram{
     width: 60px;
     align-items: center;
     margin-left: 20rem;
    }
    .footer{
     text-align: left;
    }
    .texto6{
     text-align: center;
    }
    .media{
     text-align: center;
    }
    .contacto{
     text-align: right;
    }